[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "contracts/lib/exchange-contracts"]
	path = contracts/lib/exchange-contracts
	url = https://github.com/pangolindex/exchange-contracts
